<%-include('partials/head') %> 
<body id="fundo">
    <%-include('partials/navbar') %> 
    <div class="card" id="telaLogin">

        <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 20 20">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Login</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu e-mail">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Informe sua senha">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-secondary" type="button">Entrar</button>
                  </div>
              </form>
        </div>
      </div>
</body>
</html>